@import './styles/mixins/themes.scss';
@import './styles/variables/colors.scss';

.app {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

  
.keyboard {
    border-radius: 8px;
    padding: 20px;
    width: 819px;
    height: max-content;
    background-color: #698e6d;
    display: flex;
    flex-direction: column;
    gap: 3px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
  
.row {
    display: flex;
    gap: 3px;
}